{% extends "doc_filler/base_generic.html" %}
{% block content %}
<main role="main" class="container mt-4">
    <div class="card align-items-center w-100 p-3 text-center">
        <h1>Выберите файлы</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless text-center">
                <tbody>
                <tr>
                    <td><h4>{{ form.doc_file.label }}</h4></td>
                    <td><h4>{{ form.table_file.label }}</h4></td>
                </tr>
                <tr>
                    <td>{{ form.doc_file }}</td>
                    <td>{{ form.table_file }}</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-dark" value="Submit">Отправить</button>
        </form>
    </div>
</main>
{% endblock content %}